body {
    background-color: grey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

/* BASIC RESPONSIVE DESIGN START */

.cards {
    max-width: 100%;
    margin: 0px auto;
    display: grid;
    padding: 40px;
    gap: 25px;
}

.header, .sidebar, .footer {
    background-color: rgb(58, 57, 57);
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    gap: 10px;
    grid-row: 1 / 2;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    grid-row: 2 / 10;
    /* max-width: 460px; */
}

.card {
    background-color: rgb(196, 192, 192);
    color: black;
    padding: 1rem;
    /* height: 8rem; */
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    grid-row: 10 / 11
}

@media (min-width: 600px) {
    .cards { grid-template-columns: 1fr 4fr; }
    .header { grid-column: 1 / 3; }
    .footer { grid-column: 1 / 3; }
}
/* 
@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
    .header { grid-column: 1 / 4; }
    .footer { grid-column: 1 / 4; }
} */

/* BASIC RESPONSIVE DESIGN END */
/* CONTENT STYLING START */

/* SIDEBAR START */

img {
    border-radius: 10%;
}

.divider {
    height: 2px;
    width: 100%;
    align-self: center;
    background-color: rgb(255, 250, 250);
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile {
    display: flex;
    position: relative;
    text-align: start;
    color: white;
    justify-content: center;
}

.name {
    position: absolute;
    font-size: 24px;
    bottom: 0px;
    left: 25%;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    padding: 0;
}

.borderbar {
    border: 1px solid rgb(175, 172, 172);
}

.bar {
    position: relative;
    text-align: center;
    color: white;
    background-color: rgb(9, 116, 9);
}

.language, .exp {
    margin-top: 25px;
}
/* SIDEBAR END */
/* CONTENT START */

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0px;
}

.location {
    font-size: large;
    font-weight: bold;  
    padding-top: 0px;
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* CONTENT END */


