body {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

img {
    object-fit: contain;
    width: 60%;
    border: 5px solid white;
}

h1 {
    text-transform: uppercase;
}
